# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [256]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [7]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [157]:
# print names of all countries
#for child in document_tree.getroot():
    #print(child.find('name').text)

In [159]:
#print names of all countries and their cities
#for element in document_tree.iterfind('country'):
    #print('* ' + element.find('name').text + ':')
    #capitals_string = ''
    #for subelement in element.getiterator('city'):
        #capitals_string += subelement.find('name').text + ', '
    #print(capitals_string[:-2])

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [9]:
document_tree = ET.parse( './data/mondial_database.xml' )

# 10 countries with the lowest infant mortality rates

In [172]:
root = document_tree.getroot()

#Collection list that accumulates rows where each row contains a country name, infant mortality rate pair.
mortalityList = []


for country in root.iter("country"):
    
    #Collects name for each country and appends to row
    row = []
    row.append(country.find('name').text)
    
    #Collects infant mortality for each country and appends to row
    for mortality in country.getiterator('infant_mortality'):
        row.append(float(mortality.text))
        
    #Appends each name, mortality pair to the collection list
    mortalityList.append(row)

#Convert collection list to DataFrame for quick sorting
mortality_df = pd.DataFrame(mortalityList)

#Display 10 countries with lowest infant mortality rates
mortality_df = mortality_df.sort_values(by = 1, ascending = True).head(10)
mortality_df.columns = ['Country','Infant Mortality Rate']
mortality_df

            Country  Infant \nMortality Rate
38           Monaco                     1.81
98            Japan                     2.13
117         Bermuda                     2.48
36           Norway                     2.48
106       Singapore                     2.53
37           Sweden                     2.60
10   Czech Republic                     2.63
78        Hong Kong                     2.73
79            Macao                     3.13
44          Iceland                     3.15

# 10 cities with the largest population

In [169]:
#Collection list that accumulates rows where each row contains a city name, population, and population year.
population_list = []

for country in root.iter('country'):
    for city in country.iter('city'):
        
        #Collect city name for each row
        row = [city.find('name').text]
        
        #Collects each population count over the city's history
        pop_history = []
        
        for population in city.getiterator('population'):
            pop_history.append(float(population.text))
        
        #Append to row the most recent population of the city
        if len(pop_history) > 1:
            row.append(pop_history[-1])
        
        #Append row to overall list
        population_list.append(row)

#Convert collection list to DataFrame for quick sorting          
population_df = pd.DataFrame(population_list)

#Display 10 most populous cities
population_df = population_df.sort_values(by = 1, ascending = False).head(10)
population_df.columns = ['City','Population']
population_df

           City  Population
1341   Shanghai  22315474.0
771    Istanbul  13710512.0
1527     Mumbai  12442373.0
479      Moskva  11979529.0
1340    Beijing  11716620.0
2810  São Paulo  11152344.0
1342    Tianjin  11090314.0
1064  Guangzhou  11071424.0
1582      Delhi  11034555.0
1067   Shenzhen  10358381.0

# 10 ethnic groups with the largest overall populations

In [174]:
#Collection list that accumulates rows where each row contains a country name, ethnic group, and ethnic group population.
ethnic_list = []

for country in root.iter('country'):
    
    #Collects each population count over the country's history
    pop_history = []
    for population in country.findall('population'):
        pop_history.append(population.text)
    
    #For each ethnic group of each country, a row is produced.
    #The final element of each row, ethnic_population, is calculated using the group's population percentage
    #...and the most recent population of the country in which the group resides
    for ethnic_group in country.iter('ethnicgroup'):
        row = [country.find('name').text]
        row.append(ethnic_group.text)
        ethnic_population = float(pop_history[-1]) * float(ethnic_group.attrib['percentage']) / 100.0
        row.append(ethnic_population)
        ethnic_list.append(row)
    
#Convert collection list to DataFrame for quick grouping and sorting          
ethnic_df = pd.DataFrame(ethnic_list)

#Obtain total population for each ethnic group
ethnic_df = ethnic_df.groupby(1).sum()
ethnic_df = ethnic_df.sort_values(by = 2, ascending = False)
ethnic_df.columns = ['Population']

#Display 10 most populous ethnic groups
ethnic_df.head(10)

               Population
1
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577344e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219936e+08

# Name and country of longest river

In [183]:
#Create a DataFrame pairing country name with car code.
#Will be merged later with other DataFrames that only contain car code.
country_list = []

for country in root.iter('country'):
    country_list.append([country.find('name').text, country.attrib['car_code']])

country_df = pd.DataFrame(country_list)
country_df.columns = ['Country Name','Car Code']
country_df.head()

  Country Name Car Code
0      Albania       AL
1       Greece       GR
2    Macedonia       MK
3       Serbia      SRB
4   Montenegro      MNE

In [231]:
#Collection list where each row will contain river name, country car code, and river length
river_list = []

for river in root.iter('river'):
    
    row = [river.find('name').text]   
    row.append(river.find('source').attrib['country'])
    
    for length in river.findall('length'):
        row.append(float(length.text))
    
    river_list.append(row)

#Convert list to DataFrame for quick sorting
river_df = pd.DataFrame(river_list)
river_df.columns = ['River Name', 'Car Code', 'Length']

#Merge with country_df for country name
river_df = pd.merge(river_df, country_df, how = 'outer', on = 'Car Code')
river_df = river_df.sort_values(by = 'Length', ascending = False)
river_df.head(1)

    River Name Car Code  Length Country Name
177   Amazonas       PE  6448.0         Peru

# Name and country of largest lake

In [269]:
#Collection list where each row will contain river name, country car code, and river length
lake_list = []

for lake in root.iter('lake'):
    
    row = [lake.find('name').text]
    
    #Some lakes span multiple countries. For our purposes, we will use only one country.
    countries = []
    for location in lake.findall('located'):
        countries.append(location.attrib['country'])
    
    if len(countries) > 0:
        row.append(countries[0])  
        
    for area in lake.findall('area'):
        row.append(float(area.text))
    lake_list.append(row)

#Convert to DataFrame for quick sorting
lake_df = pd.DataFrame(lake_list)
lake_df.columns = ['Lake Name','Car Code','Area']

#Merge with country_df for country name
lake_df = pd.merge(lake_df, country_df, how = 'outer', on = 'Car Code')
lake_df = lake_df.sort_values(by = 'Area', ascending = False)
lake_df.head(1)

      Lake Name Car Code      Area Country Name
47  Caspian Sea        R  386400.0       Russia

# Name and country of airport with highest elevation

In [270]:
#Collection list where each row will contain airport name, country car code, and airport
airport_list = []

for airport in root.iter('airport'):
    
    row = [airport.find('name').text]
    row.append(airport.attrib['country'])

    for elevation in airport.findall('elevation'):
        if elevation.text != None:
            row.append(float(elevation.text))
        else:
            row.append(np.nan)
    airport_list.append(row)

airport_df = pd.DataFrame(airport_list)
airport_df.columns = ['Airport','Car Code','Elevation']
airport_df = pd.merge(airport_df,country_df,how='outer',on='Car Code')
airport_df.sort_values(by = "Elevation", ascending = False).head(1)

         Airport Car Code  Elevation Country Name
80  El Alto Intl      BOL     4063.0      Bolivia