In [64]:
%matplotlib inline
import pandas as pd
import numpy as np

In [33]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [34]:
titles = pd.read_csv('data/titles.csv', index_col=None, encoding='utf-8')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [38]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [76]:
print(len(titles))

233912

### What are the earliest two films listed in the titles dataframe?

In [86]:
temp = titles.sort_values(by='year')
temp = temp.head(2)
temp

                     title  year
178967          Miss Jerry  1894
216728  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [89]:
temp = titles[titles.title == "Hamlet"]
print(len(temp))

20

### How many movies are titled "North by Northwest"?

In [90]:
print(len(titles[titles.title == 'North by Northwest']))

1

### When was the first movie titled "Hamlet" made?

In [91]:
print(titles[titles.title == 'Hamlet'].sort_values(by = 'year').head(1))

        title  year
47055  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [94]:
print(titles[titles.title == 'Treasure Island'].sort_values(by = 'year'))

                  title  year
207430  Treasure Island  1918
51639   Treasure Island  1920
192318  Treasure Island  1934
97553   Treasure Island  1950
90103   Treasure Island  1972
112077  Treasure Island  1973
206801  Treasure Island  1985
180564  Treasure Island  1999

### How many movies were made in the year 1950?

In [95]:
print(len(titles[titles.year == 1950]))

1099

### How many movies were made in the year 1960?

In [96]:
print(len(titles[titles.year == 1960]))

1502

### How many movies were made from 1950 through 1959?

In [97]:
print(len(titles[(titles.year >= 1950) & (titles.year <= 1959)]))

12720

### In what years has a movie titled "Batman" been released?

In [100]:
titles[titles.title == 'Batman'].year

56396    1989
75094    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [102]:
print(len(cast[cast.title == 'Inception']))

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [105]:
print(len(cast[(cast.title == 'Inception') & cast.n.isnull()]))

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [112]:
print(len(cast[(cast.title == 'Inception') & cast.n.notnull()]))

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [113]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort_values(by = 'n')

,title,year,name,type,character,n
847971,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3392822,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1417410,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3052142,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
346873,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2949953,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1649189,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1240368,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2379378,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1762077,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
647897,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2232208,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
452045,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1467408,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
200356,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1346846,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [115]:
cast[(cast.title == 'Sleuth') & (cast.n.notnull()) & (cast.year == 1972)].sort_values(by = 'n')

,title,year,name,type,character,n
1659069,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
317626,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
363675,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1425460,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2643320,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1409205,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [117]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007) & (cast.n.notnull())].sort_values(by = 'n')

          title  year           name   type    character    n
317627   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1258243  Sleuth  2007       Jude Law  actor         Milo  2.0
1756787  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [118]:
print(len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)]))

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [120]:
print(len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)]))

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [122]:
print(len(cast[cast.character == 'Hamlet']))

93

### How many people have played an "Ophelia"?

In [123]:
print(len(cast[cast.character == 'Ophelia']))

112

### How many people have played a role called "The Dude"?

In [124]:
print(len(cast[cast.character == 'The Dude']))

18

### How many people have played a role called "The Stranger"?

In [125]:
print(len(cast[cast.character == 'The Stranger']))

212

### How many roles has Sidney Poitier played throughout his career?

In [127]:
print(len(cast[cast.name == 'Sidney Poitier']))

43

### How many roles has Judi Dench played?

In [128]:
print(len(cast[cast.name == 'Judi Dench']))

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [131]:
cast[(cast.name == 'Cary Grant') & (cast.year // 10 == 194)  & (cast.n == 2)].sort_values(by = 'year')

                   title  year        name   type    character    n
847968  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
847978    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [132]:
cast[(cast.name == 'Cary Grant') & (cast.year // 10 == 194) & (cast.n == 1)].sort_values(by = 'year')

,title,year,name,type,character,n
847994,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
847950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
847996,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
847983,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
847998,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
847974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
847941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
847966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
847967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
847975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
847933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
847970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
847969,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
847972,Notorious,1946,Cary Grant,actor,Devlin,1.0
847990,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
847991,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
847965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
847945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
847954,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [135]:
print(len(cast[(cast.type == 'actor') & (cast.year // 10 == 195)]))

155454

### How many roles were avilable for actresses in the 1950s?

In [136]:
print(len(cast[(cast.type == 'actress') & (cast.year // 10 == 195)]))

56550

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [137]:
print(len(cast[(cast.n==1) & (cast.year <= 1980)]))

64157

### How many non-leading roles were available through from the beginning of film history through 1980?

In [138]:
print(len(cast[(cast.n!=1) & (cast.year <= 1980)]))

1098826

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [140]:
print(len(cast[(cast.year <= 1980) & cast.n.isnull()]))

439761